<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>
<body>
<h1 align="center">City list</h1>
<div align="center">
    <a href="/city/create">Create new city</a> &nbsp &nbsp &nbsp &nbsp
</div>
<th:block th:if="${createMessage}">
    <p th:text="${createMessage}" align="center" style="color: red"></p>
</th:block>
<table border="1" align="center">
    <tr>
        <th>ID</th>
        <th>City</th>
        <th>Country</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="city: ${cities}">
        <tr>
            <td th:text="${city.cityId}"></td>
            <td><a  th:text="${city.cityName}" th:href="@{/city/view/__${city.cityId}__}"></a></td>
            <td th:text="${city.country.countryName}"></td>
            <td><a th:href="@{/city/edit/__${city.cityId}__ }">Edit</a></td>
            <td><a th:href="@{/city/delete/__${city.cityId}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>