<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City list</title>
</head>
<body>
<h1 align="center">City list</h1>
<div align="center">
    <a href="/city/create">Create new city</a> &nbsp &nbsp &nbsp &nbsp
</div>
<th:block th:if="${createMessage}">
    <p th:text="${createMessage}" align="center"></p>
</th:block>
<table border="1" align="center">
    <tr>
        <th>ID</th>
        <th>City</th>
        <th>Country</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="city: ${cities}">
        <tr>
            <td th:text="${city.cityId}"></td>
            <td><a  th:text="${city.cityName}" th:href="@{/city/view/__${city.cityId}__}"></a></td>
            <td th:text="${city.country.countryName}"></td>
            <td><a th:href="@{/city/edit/__${city.cityId}__ }">Edit</a></td>
            <td><a th:href="@{/city/delete/__${city.cityId}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>